.menu {
    display: flex;

    &__item {
        margin: 0 20px 0 0;
        padding: 3px 6px;
        color: @text-color;
        font-family: "PT Sans Caption";
        font-size: 15px;
        letter-spacing: 0.3px;
        line-height: 19px;
        text-align: left;
        text-decoration: none;

        &_vertical {
            margin: 0 0 40px 0;
        }

        &:hover {
            background-color: @hover-color;
        }

        &:active {
            &:hover {
                background-color: white;
            }
            color: @active-color;
        }
    }
}
