.cell {
    position: relative;
    counter-increment: cellcount;

    @media screen and (min-width: @sizes[desktop]) {
        max-width: calc((100% - 40px) / 3);

        &:nth-child(n+5) {
            margin-top: 75px;
        }
    }

    @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
        max-width: calc((100% - 20px) / 2);

        &:nth-child(n+4) {
                margin-top: 50px;
            }
        }

    @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] -1) {
        max-width: 100%;

        &:nth-child(n+3) {
            margin-top: 50px;
        }
    }

    &:before {
        position: absolute;
        right: 0;
        content: counter(cellcount);
        color: #E9E9E9;
        font-family: "Arial Black";
        z-index: -1;

        @media screen and (min-width: @sizes[tablet]) {
            top: -55px;
            font-size: 118px;
            line-height: 190px;
        }

        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            font-size: 78px;
            line-height: 70px;
        }
    }

    &__title {
        width: 75%;
        margin: 45px 0 6px 0;
        color: @text-color;
        font-family: "PT Sans Caption";
        font-size: 18px;
        line-height: 24px;
    }

    &__text {
        margin: 0;
        color: @text-color;
        font-family: "Didact Gothic";
        font-size: 16px;
        line-height: 22px;
    }
}
