.burger {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 62px;
    background-color: #F9F9F9;
    background-image: url(/assets/interface/ic_menu_burger.svg);
    background-position: center center;
    background-repeat: no-repeat;

    @media screen and (min-width: @sizes[tablet]) {
            visibility: hidden;
    }
}
