.cover {
    position: relative;
    font-size: 0;

    &__content {
        background: rgba(255, 255, 255, 0.5);

        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            padding: 0;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            padding: 70px 40px 0 40px;
        }
        @media screen and (min-width: @sizes[desktop]) {
            padding: 70px 70px 0 70px;
        }
        @media screen and (min-width: @sizes[tablet]) {
            position: absolute;
            height: 534px;
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
        }
    }

    &__title {
        margin: 0;
        color: #363B3C;
        font-family: "PT Sans Caption";

        @media screen and (min-width: @sizes[desktop]) {
            font-size: 26px;
            letter-spacing: 0.4px;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            font-size: 24px;
            letter-spacing: 0.37px;
        }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            font-size: 20px;
            letter-spacing: 0.31px;
        }
    }

    &__text {
        margin: 19px 0 27px 0;
        color: #363B3C;
        font-family: "Didact Gothic";

        @media screen and (min-width: @sizes[desktop]) {
            font-size: 16px;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            font-size: 14px;
        }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            font-size: 15px;
        }
    }

    &__button {
        @media screen and (min-width: @sizes[desktop_hd]) {
            padding: 12px 26px;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop_hd] - 1) {
            padding: 12px 15px;
        }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            display: none;
        }
    }

    &__image {
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            display: none;
        }
        @media screen and (min-width: @sizes[tablet]) {
            position: relative;
            display: block;
            height: 534px;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
        }
    }

    &__picture {
        position: absolute;
        height: calc(100% + 1px);
        z-index: -1;

        @media screen and (min-width: @sizes[desktop] + 1) {
            right: 0;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop]) {
            right: -100px;
        }
    }
}
