.aside {
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #F9F9F9;
    z-index: 1;
    //mobile - tablet
    @media (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
        width: 271px;
        padding: 20px 30px 30px 20px;
    }
    //tablet - desktop
    @media (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
        width: 304px;
        padding: 38px 42px 42px 44px;
    }

    &__menu {
        //mobile - tablet
        @media (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            margin: 0 0 0 53px;
        }
        //tablet +
        @media (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            margin: 0;
        }
    }

    &__copyright {
        padding: 21px 0px 13px 0px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 0;
    }
}