.header {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: calc(1440px - 260px);
        height: 87px;
        margin: 0 auto;
    }

    @media screen and (max-width: @sizes[tablet] - 1) {
        height: 62px;
    }

    &__menu {
        justify-content: space-evenly;
        margin-left: auto;
        border-right: 1px solid #e4e4e4;

        @media screen and (max-width: @sizes[tablet] - 1) {
              visibility: hidden;
        }
    }
}
