.section {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;

    @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
        flex-direction: column;
        align-items: center;

        &:nth-child(n+3) {
            .section__image {
                display: none;
            }
        }
    }

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media screen and (min-width: @sizes[desktop]) {
            height: 600px;
            max-width: 50%;
            width: 50%;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            height: 550px;
            max-width: 50%;
            width: 50%;
        }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            height: 260px;
            max-width: 100%;
            width: 100%;
        }
    }

    &__picture {
        position: absolute;
        min-height: 100%;
        min-width: 100%;

        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            top: -40%;
        }
    }

    &__content {
        max-width: 50%;
        width: 100%;
        box-sizing: border-box;

        @media screen and (min-width: @sizes[desktop_hd]) {
            padding: 31px 0 0 65px;
        }
        @media screen and (min-width: @sizes[desktop]) and (max-width: @sizes[desktop_hd] - 1) {
            padding: 31px 0 0 45px;
        }
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            padding: 0 0 0 40px;
    }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            padding: 0;
            max-width: 100%;
        }
    }

    &__title {
        margin: 0;
        color: @text-color;
        font-family: "PT Sans Caption";

        @media screen and (min-width: @sizes[desktop]) {
            font-size: 26px;
            letter-spacing: 0.4px;
            line-height: 34px;
        }

        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            font-size: 24px;
            letter-spacing: 0.37px;
            line-height: 30px;
        }

        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            font-size: 20px;
            letter-spacing: 0.31px;
            line-height: 24px;
        }
    }

    &__text {
        margin: 0 0 22px 0;
        color: @text-color;
        font-family: "Didact Gothic";
        letter-spacing: 0.003em;

        @media screen and (min-width: @sizes[desktop]) {
            font-size: 16px;
            line-height: 22px;
        }

        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            font-size: 14px;
            line-height: 20px;
        }

        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[tablet] - 1) {
            font-size: 15px;
            line-height: 20px;
        }

        &_gray {
            margin: 0 0 26px 0;
            color: @accent-color-odd;
            font-size: 16px;
        }
    }

    &__purchase {
        @media screen and (min-width: @sizes[desktop_hd]) {
            margin-right: 95px;
        }
        @media screen and (min-width: @sizes[mobile]) and (max-width: @sizes[desktop] - 1) {
            margin: 0;
        }
    }
}
