.sidebar {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0px 19px 0;
    letter-spacing: 0.3px;

    &__title,
    &__item {
        display: block;
        color: @text-color;
    }

    &__title {
        font-family: "PT Sans Caption";
        font-size: 18px;

        //tablet - desktop
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            margin: 0 0 18px 0;
        }

        //desktop +
        @media screen and (min-width: @sizes[desktop]) {
            margin: 0 0 19px 0;
        }
    }

    &__item {
        font-family: "Didact Gothic";
        text-decoration: none;

        // mixin
        .link();

        //tablet - desktop
        @media screen and (min-width: @sizes[tablet]) and (max-width: @sizes[desktop] - 1) {
            margin: 0 0 20px 0;
        }

        //desktop +
        @media screen and (min-width: @sizes[desktop]) {
            margin: 0 0 19px 0;
        }
    }
}