.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    padding: 0 130px;
    background-color: #F9F9F9;

    @media (max-width: @sizes[tablet]) {
        display: none;
    }
}
