.footer {
    width: 100%;
    background-color: #F9F9F9;

    @media screen and (max-width: @sizes[desktop] - 1) {
        display: none;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 87px;
        margin: 0 auto;

        @media screen and (min-width: @sizes[desktop]) {
            max-width: 1440px - 260px;
            padding: 0 40px;
        }
    }
}
